.layers {
    position: relative;
}

.layers .map-info {
    color: blue;
    font-size: 0.7em;
    vertical-align: top;
    cursor: pointer;
}

.layers button {
    background-color: #fff;
    color: #0f141e;
    height: 30px;
    border-radius: 10px;
    margin: 0;
}

.layers button:hover {
    background-color: #61abef;
    color: #0f141e;
}

.layers input[type="radio"] {
    display: none;
}

.layers__list {
    background-color: white;
    position: absolute;
    top: 35px;
    left: 0;
    padding: 5px 5px 5px 20px;
    border-radius: 10px;
    text-align: start;
}


.layers__list>div {
    white-space: nowrap;
}