.map-info-container p {
  text-indent: 10px;

}

.map-info-container table {
  font-size: 0.9em;
  margin: 10px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  & thead {
    position: sticky;
    top: 0;
  }

  & thead tr {
    background-color: #a5d9bb;
    text-align: center;

  }

  & th,
  & td {
    padding: 12px 15px;
    border: 2px solid black;
  }

}

.map-info-container img {
  display: block;
  height: 60px;
  margin: 5px 0;
}