* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 255, 255, 0.863);
  color: #0f141e;
  overflow: hidden;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

button {
  background: rgb(40, 13, 165);
  padding: 7px;
  margin: 2px;
  height: 30px;
  width: auto;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
  white-space: normal;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

button:hover {
  opacity: 0.9;
}

button:disabled {
  cursor: not-allowed;
}

input[type="radio"]:checked + label::before {
  position: absolute;
  left: 4px;
  color: rgb(7, 56, 7);
  content: "✔";
}

main {
  width: 100%;
  height: 100vh;
}


.box-col {
  display: flex;
  flex-direction: column;
  padding: 2px;

}

.box-row {
  display: flex;
  flex-direction: row;
  padding: 2px;
  margin: 2px;

}

.funtional-bar {
  position: absolute;
  left: 5px;
  top: 5px;
  display: flex;
  width: 460px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

::-webkit-scrollbar {
  background-color: #b6f0c9;
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #0a471e;
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .funtional-bar {
    width: 300px;

    & section:first-child {
      margin-bottom: 5px;
    }
  }

  #message-window {
    left: 320px;
  }
}