<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div style="position: absolute;
            left: 100px;
            background-color: rgb(231, 220, 139);
            top: 20px;
            border: solid blue;
            border-radius: 10px;
            padding:  10px; ">
            <form action="/bp-app/admin/checkMapDir" method="post">
                <label for="check"> Проверить дирректорию и загрузить информацию в базу данных?</label>
                <br>
                <button type="submit" id="check">Проверить</button>
            </form>
        </div>
    </div>
</body>
</html>