<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Карта</title>
    <link rel="stylesheet" type="text/css" href="https://yastatic.net/bootstrap/3.3.4/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=00edbb4c-85c6-4375-8249-f0baae6a12c2&lang=ru_RU&coordorder=longlat" type="text/javascript"></script>
    <link href="/styles.css" rel="stylesheet" />
    <script type="text/javascript" src="/map.js"></script>
<body>
    <div class="container">
        <h1>Яндекс карты</h1>
        <div id="map"></div>
    </div>
    
</body>
</html>
